* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: whitesmoke;
}

header {
  width: 100%;
  height: 16vh;
  background-color: #5b191a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-item {
  margin-top: 2vh;
}

header .top-itemleft {
  width: 60%;
}

header .top-itemleft img {
  width: 15vw;
}

header .top-itemright {
  width: 40%;
}

header .top-itemright img {
  width: 35vw;
}

nav {
  width: 100%;
  height: 7vh;
  background-color: #0e0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  list-style-type: none;
  color: whitesmoke;
  font-size: 2.2vw;
  padding-left: 1em;
}

.date {
  width: 100%;
  height: 10vh;
  font-size: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 4vw;
}

.main {
  width: 90%;
  margin: 0 5% 0 5%;
  height: auto;
}

.news {
  width: 100%;
  height: auto;
}

.heading {
  width: 100%;
  height: 6vh;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2vw;
  font-size: 3vh;
}

.thumbnail-wrapper {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.thumbnail-wrapper .thumb-item {
  text-align: center;
  font-size: 3vh;
  color: whitesmoke;
  background-color: black;
  padding-bottom: 0.8em;
}

.thumbnail-wrapper img {
  width: 100%;
  /* or 100% of container */
  height: 20em;
  /*  or 100% of container */
  -o-object-fit: cover;
     object-fit: cover;
  /* none can be an option too as cover may deform it*/
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  /* if both 50% will center it*/
}

.popular {
  width: 100%;
  height: auto;
  margin-top: 6vh;
}

.developer {
  width: 90%;
  margin: 8vh 5% 0 5%;
  height: auto;
}

.dev-wrapper {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2vw 10vw;
}

.dev-wrapper .dev-item {
  text-align: center;
  font-size: 2.5vh;
  color: whitesmoke;
  background-color: black;
  padding-bottom: 0.8em;
}

.dev-wrapper img {
  width: 100%;
  /* or 100% of container */
  height: 20em;
  /*  or 100% of container */
  -o-object-fit: cover;
     object-fit: cover;
  /* none can be an option too as cover may deform it*/
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  /* if both 50% will center it*/
}

.dev-wrapper .dev-item-banner {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background-color: transparent;
}

.dev-wrapper .dev-item-banner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*----footer----*/
footer {
  width: 100%;
  height: 20vh;
  background-color: #0e0d0d;
}

.footer-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: whitesmoke;
  padding: 4vh 5vw 3vh 5vw;
}

.footer-wrapper li {
  display: inline-block;
  list-style-type: none;
  color: whitesmoke;
  font-size: 1.8vw;
  padding-left: 1em;
}

.footer-wrapper .footer-itembottom {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  padding-top: 4vh;
  font-size: 1.5em;
}

.footer-wrapper .footer-itemright {
  text-align: right;
}

.article-wrapper {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.article-wrapper .article1, .article-wrapper .article2 {
  text-align: left;
  font-size: 3vh;
  color: black;
}

.article-wrapper img {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.article-wrapper p {
  line-height: 1.5em;
}

/*make iframe-video responsive
https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
*/
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: 3vh;
}

/* Then style the iframe to fit in the container div with full height and width */
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-item {
    margin-top: 2vh;
    height: 16vw;
  }
  .top-itemleft {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .top-itemleft img {
    width: 50vw;
  }
  .top-itemright {
    display: none;
  }
  .date {
    display: none;
  }
  nav {
    margin-bottom: 3vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav li {
    font-size: 5vw;
  }
  .thumbnail-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .thumbnail-wrapper .thumb-item {
    margin-top: 4vw;
  }
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dev-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5vw 0;
  }
  .dev-wrapper .dev-item {
    text-align: center;
    font-size: 2.5vh;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 0.8em;
  }
  .dev-wrapper img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .dev-wrapper .dev-item-banner {
    display: none;
  }
  .footer-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    color: whitesmoke;
    padding: 4vh 0 3vh 0;
  }
  .footer-wrapper li {
    display: inline-block;
    list-style-type: none;
    color: whitesmoke;
    font-size: 3vw;
    padding: 1vw 0 1vw 0;
  }
  .footer-wrapper .footer-itembottom {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    padding-top: 1vh;
    font-size: 0.3em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-wrapper .footer-itemleft {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-wrapper .footer-itemright {
    text-align: center;
  }
  .footer-wrapper .footer-itemright img {
    width: 50vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  nav {
    margin-bottom: 2.5vh;
  }
  nav li {
    font-size: 3vw;
  }
  .thumbnail-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .thumbnail-wrapper .thumb-item {
    margin-top: 4vw;
  }
  .dev-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5vw 2vw;
  }
  .dev-wrapper .dev-item {
    text-align: center;
    font-size: 2.5vh;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 0.8em;
  }
  .dev-wrapper img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .dev-wrapper .dev-item-banner {
    background-color: transparent;
  }
  footer {
    height: auto;
  }
  .footer-wrapper li {
    font-size: 2.3vw;
  }
}
/*# sourceMappingURL=styles.css.map */