* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

//----Header with flex----

header {
  width: 100%;
  height: 16vh;
  background-color: rgb(91, 25, 26);
  display: flex;
  padding-left: 5vw;
  align-items: center;

  .top-item {
    margin-top: 2vh;
  }

  .top-itemleft {
    width: 60%;

    img {
      width: 15vw;
    }
  }// end top-itemleft

  .top-itemright {
    width: 40%;
    

    img {
      width: 35vw;
    }
  }//end top-itemright
} //end header

//----Navigation bar----

nav {
  width: 100%;
  height: 7vh;
  background-color: rgb(14, 13, 13);
  display: flex;

  justify-content: flex-start;
  align-items: center;

  ul {
    display: flex;

  }

  li {
    list-style-type: none;
    color: whitesmoke;
    font-size: 2.2vw;
    padding-left: 1em;
  }
}

//----Date----

.date {
  width: 100%;
  height: 10vh;
  font-size: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4vw;
}

//----Main-part of frontpage----

.main {
  width: 90%;
  margin: 0 5% 0 5%;
  height: auto; //noch ev. auf Auto ändern
  // background-color: rgb(233, 119, 119);
}

.news {
  width: 100%;
  height: auto;
}

.heading {
  width: 100%;
  height: 6vh;
  background-color: rgb(196, 196, 196);
  display: flex;
  align-items: center;
  padding-left: 2vw;
  font-size: 3vh;
}

//Top-news, Popular

.thumbnail-wrapper {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;

  .thumb-item {
    text-align: center;
    font-size: 3vh;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 0.8em;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.popular {
  width: 100%;
  height: auto;
  margin-top: 6vh;
}

//part below Banner

.developer {
  width: 90%;
  margin: 8vh 5% 0 5%;
  height: auto;
  // background-color: yellow;
}

.dev-wrapper {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw 10vw;

  .dev-item {
    text-align: center;
    font-size: 2.5vh;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 0.8em;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .dev-item-banner {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 10vw;
    background-color: transparent;
  }
}

/*----footer----*/

footer {
  width: 100%;
  height: 20vh;
  background-color: rgb(14, 13, 13);
}

.footer-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: whitesmoke;
  padding: 4vh 5vw 3vh 5vw;

  li {
    display: inline-block;
    list-style-type: none;
    color: whitesmoke;
    font-size: 1.5vw;
    padding-left: 1em;
  }
  .footer-itembottom {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding-top: 4vh;
    font-size: 1.5em;
  }

  .footer-itemright {
    text-align: right;
  }
}


//----subpages----


.article-wrapper {
  width: 100%;
  margin: 4vh 0 5vh 0;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2em;

  .article1, .article2 {
    text-align: left;
    font-size: 3vh;
    color: black;
    
  }

  img {
    width: 40%;
    height: auto;
    object-fit: cover;
  }

  p {
    line-height: 1.5em;
  }
}


//----media queries----
//---------------------

@media screen and (max-width: 480px) {

  header {
    display: flex;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
  }  
  
  .top-item {
    margin-top: 2vh;
    border: solid 1px black;
    height: 16vw;
  }
  
  .top-itemleft {
    width: 100%;
    display: flex;
    
  }  
  
  .topitemleft img {
        width: 25Svw;
  }
  
  
  .top-itemright {
 
    display: none;
  }

    
  .date {
    display: none;
  }
  
  nav  {
    margin-bottom: 3vh;
    justify-content: center;

    li {

      font-size: 4vw;
     
    }
  }

  .thumbnail-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr;

    .thumb-item{
      margin-top: 4vw;
    }
  }
  
  .dev-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vw 0;
  
    .dev-item {
      text-align: center;
      font-size: 2.5vh;
      color: whitesmoke;
      background-color: black;
      padding-bottom: 0.8em;
    }
  
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .dev-item-banner {
      display: none;
    }
  }


  .footer-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    color: whitesmoke;
    padding: 4vh 0 3vh 0;
  
    li {
      display: inline-block;
      list-style-type: none;
      color: whitesmoke;
      font-size: 3vw;
      padding: 1vw 0 1vw 0;

    }
    .footer-itembottom {
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: center;
      padding-top: 1vh;
      font-size: 0.3em;
      order: 2
    }

    .footer-itemleft {
      text-align: center;
      order: 1;
    }
  
    .footer-itemright {
      text-align: center;
      img {
        width: 50vw;
      }
    }
  }

} 


//tablet 

@media screen and (min-width: 481px) and (max-width: 1200px) {

  nav  {
    margin-bottom: 3vh;
    

    li {

      font-size: 4vw;
     
    }
  }

  .thumbnail-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .thumb-item{
      margin-top: 4vw;
    }
  }
  
  .dev-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw 2vw;
  
    .dev-item {
      text-align: center;
      font-size: 2.5vh;
      color: whitesmoke;
      background-color: black;
      padding-bottom: 0.8em;
    }
  
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .dev-item-banner {
      background-color: transparent;
    }
  }


  

} 
  


